/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: right;
    padding: 0 15px;
    transition: 250ms ease-out;

    &,
    &:visited {
        // color: $grey-color-dark;
    }
    &:hover {
        color: #fff !important;
        transition: 200ms ease-in;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-ico {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .trigger {
        display: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            @include media-query($on-palm) {
                display: none;  
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    clear: both;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit * 1.5) 0;
    position: relative;
    min-height: 380px;
}

.home-intro {
    margin-bottom: 30px;
}

.page-heading {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding-left: $spacing-unit / 3;
        margin-bottom: $spacing-unit / 2;
        // position: relative;
        clear: both;
        &:last-of-type {
            margin-bottom: $spacing-unit
        }

        > h2 {
            line-height: 18px;
            margin-bottom: 5px;
        }

        > p {
            margin-bottom: $spacing-unit / 4;
        }

        &:hover {
            box-shadow: -10px 0px 0px -5px #ebebeb;
            // border: 1px solid #2244eb;
            // border-left: 10px solid #ebebeb;
        }
    }
}

div.home-post-meta {
    float: left;
}

.home-post-meta {
    font-family: $head-font-family;
    font-size: 1.2em;
    line-height: 1em;
    text-align: left;
    color: rgba($grey-color, 0.3);
    padding: 5px ($spacing-unit / 3) 5px 0;
}

.post-meta-year {
    font-size: .8em;
}

.post-link {
    display: block;
    font-size: 18px;

}

.read-more-link {
    font-family: $base-font-family;
    font-size: $small-font-size * .75;
    font-weight: 100;
    color: $grey-color;
    font-style: italic;
}

.see-all-posts {
    font-family: $head-font-family;
}

.rss-subscribe {
    font-size: 80%;
    color: #777;
}

.leftnav {
    width: 200px;
    position: absolute;
    left: -200px;
    top: 30px;
    font-family: $head-font-family;

    @include media-query($on-palm) {
        display: none;
    }
}

.hero-nav {
    display: block;
    // width: 100%;
    
    &:hover {
        > a {

        }
    }

    > a {
        display: block;
        padding: 15px 10px;
        transition: 250ms;
        text-align: right;
        &:hover {
            padding-right: 20px;
            transition: 250ms;
        }
        &.active {
            color: lighten($brand-color, 20%) !important;
            &::before {
                content: " > ";
            }
        }
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.15;
    font-weight: 800;
    font-family: $head-font-family;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-subtitle {
    font-size: 18px;
    font-weight: 300;
}

.featured-image {
    margin-bottom: $spacing-unit;

    .featured-img-credit {
        color: $grey-color;
        font-size: small;
        font-style: italic;
    }

}

.post-content {
    margin-bottom: $spacing-unit / 2;
    position: relative;

    .kicker {
        font-size: 24px;
        font-family: $serif-font;
        color: $grey-color;
        font-style: italic;
        
        + p:first-letter {
            vertical-align: text-top;
            font-size: 200%;
            font-family: $head-font-family;
            padding: 0 10px 0 0;
            margin-top: -4px;
            float: left;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        margin-top: 10px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .img-div {
        width: 60%;
        margin: 0 auto 10px;
    }
}

hr.spotify {
    margin-top: 5px;
    padding: 10px 0;
}

.pull-quote-left {
    text-transform: uppercase;
    color: $brand-color;
    font-size: 24px;
    float: left;
    width: 360px;
    margin: 15px 20px 15px -90px;
    font-family: $head-font-family;
    border-bottom: 4px solid $brand-color;
    
    @include media-query($on-palm) {
        float: none;
        margin: 0 auto 15px;
        width: 100%;
    }

    > p {
        margin-bottom: 10px;
    }
}

.pull-quote-right {
    text-transform: uppercase;
    color: $brand-color;
    font-size: 24px;
    float: right;
    width: 360px;
    margin: 15px -120px 15px 20px;
    font-family: $head-font-family;
    border-bottom: 4px solid $brand-color;

    @include media-query($on-palm) {
        float: none;
        margin: 0 auto 15px;
        width: 100%;
    }

    > p {
        margin-bottom: 10px;
    }
}

.post-link {
    display: inline;
}

.post-summary {
    font-size: 14px;
    line-height: 16px;
    color: $grey-color-dark;
    font-style: italic;
}