<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">
        
        {{ content }}
        
        <div class="leftnav">
          <div class="hero-nav">
          {% for link in site.data.navigation %}
            <a href="/{{ link.url }}" class="{% if page.url contains link.url %} active {% endif %}">
              {{ link.label | upcase }}
            </a>
          {% endfor %}
          </div>
          <!--<div class="hero-nav">
            <a href="/blog" id="blog-block">
              BLOG
            </a>
          </div>
          <div class="hero-nav">
            <a href="/work" id="photos-block">
              WORK
            </a>
          </div>
          <div class="hero-nav">
            <a href="/photos" id="photos-block">
              PHOTOS
            </a>
          </div>-->
        </div><!-- /.leftnav -->

      </div>

    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {% include js.html %}
  </body>

</html>